<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
<nav class="menu">
           
    <div >
        <i class="fas fa-futbol"></i>
        <a class="titleMenu" th:href="@{http://localhost:8080/home}" > ScoreDei</a>
           
     </div>
 

</nav>
<form th:action="@{/saveTeam}" th:object="${newteam}" method="post">
    <div="form-row" id="card">
        <div class="cardhead">ADD TEAM</div>
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label></label>
            <input type="text" th:field="*{name}" th:placeholder='Name' required>
        </div>
        <div>
            <label></label>
            <input type="text" th:field="*{country}" th:placeholder="Country" required>
        </div>
        <div>
            <label></label>
            <input type="text" th:field="*{image}" th:placeholder='Logo' required>
        
        </div>
        <button type="submit">Create/Edit</button>
    </div>
</form>