<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
<nav class="menu">
           
    <div >
        <i class="fas fa-futbol"></i>
        <a class="titleMenu" th:href="@{http://localhost:8080/}" > ScoreDei</a>
           
     </div>
 

</nav>
<form th:action="@{/savePEvent}" th:object="${newEvent}" method="post">
    <div="form-row" id="card">
        <div class="cardhead">ADD EVENT </div>
        <div>
            <input type="hidden" th:value = "aux" th:field="*{game}">
        </div>
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label for ="ops"></label>
            <select name="op" id="ops" th:field="*{eventType}">
                <option value="yellowCard">Yellow Card</option>
                <option value="redCard">Red Card</option>
                <option value="goal">Goal</option>
              </select>
        </div>
        <div>
            <label></label>
            <input type="text" th:field="*{time}" pattern= "[0-9]*:[0-9]*" placeholder="35:17(min:sec)" required>
        </div>
        <div>
            <label for ="team"></label>
            <select name="team" th:field="*{player}" required>
                <option label="-- Select a Player --" value=""></option>
				<option th:each="p : ${allPlayers}"
						th:value="${{p}}"
						th:text="${p.name}">
					
				</option>
			</select>
        </div>
        
    
        <button type="submit">Create</button>
    </div>
</form>