<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf8"/>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    </head>
    <body>
        <nav class="menu">
           
            <div >
                <i class="fas fa-futbol"></i>
                <a class="titleMenu" th:href="@{http://localhost:8080/home}" > ScoreDei</a>
                   
             </div>
         
        
        </nav>
        <h1 style="display:flex ;flex-direction:column;align-items:center;">Home</h1>
        <h2 style="display:flex ;flex-direction:column;align-items:center;" th:text=" ${'Hi '+ username } "></h2>
        
        <div style="display:flex ;flex-direction:column;align-items:center;margin-top:7rem">
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/addTeam}" style="text-decoration: none; ">Add Team here </a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/addPlayer}" style="text-decoration: none; ">Add player here </a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/addGame}" style="text-decoration: none; ">Add Game here </a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/listTeams}" style="text-decoration: none; ">List Teams </a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/listGames}" style="text-decoration: none; ">See Games</a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{http://localhost:8080/bestScorer}" style="text-decoration: none; ">See Best Scorer</a>
            </button>
            <button style="cursor:pointer;border-radius: 2.4rem;height: 2rem;font-weight:900;">
            <a th:href="@{listTeamStats(order=${0})}" style="text-decoration: none; ">See Team Stats</a>
            </button>
        </div>

    </body>
</html>